@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

/* ОБЩЕЕ */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --blue: #7665FF;
    --darkBlue: #322D7D;
    --nightBlue: #140F55;
    --pink: #E065FF;
    --white: aliceblue;
}

body {
    height: 100vh;
    width: 100%;
    font-size: 16px;
    background: var(--nightBlue);
    display: flex;
    font-family: "Oswald", Helvetica, sans-serif;
    color: var(--white);
}

h1, h2, h3, h4, p {
    cursor: default;
}

.gradient-font {
    background: -webkit-linear-gradient(90deg, var(--blue), var(--pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink {
    color: var(--pink);
}

.blue {
    color: var(--blue);
}


/* БОКОВАЯ НАВИГАЦИЯ */
aside {
    width: 17%;
    height: 100%;
    background-color: var(--darkBlue);
    display: grid;
    grid-template-rows: 12% 68% 20%;
}

.logo {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: left;
}

.bank-logo {
    width: 20%;
    fill: var(--blue);
    margin-right: 1em;
}

.bank-name {
    width: 60%;
    font-size: 2rem;
}

nav {
    width: 100%;
}

nav > ul {
    width: 100%;
}

ul > li {
    width: 100%;
    padding: 0.4rem;
}

nav > ul > li:hover {
   background: linear-gradient(45deg, var(--blue), var(--pink)) ;
}

li > a {
    display: flex;
    width: 100%;
    margin: 0.5rem auto;
    margin-left: 4%;
    color: var(--white);
    text-decoration: none;
}

.nav-icon {
    margin-top: -3%;
    margin-right: 0.6em;
}

.nav-icon > svg {
    fill: var(--white);
}

/* ОСНОВНОЙ БЛОК */

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 96%;
    height: 94%;
    display: grid;
    grid-template-columns: repeat(12, minmax(70px, 1fr));
    grid-template-rows: repeat(12, 1fr);
    gap: 1.25rem;
}

.block:hover {
    box-shadow: 0 0 1em var(--white);
    transition: box-shadow 0.3s ease;
}

/* ЗАГОЛОВОК */

.header {
    grid-area: 1 / 1 / 2 / 13;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.header > h2 {
    grid-column: 1 / 3;
    font-size: 1.75em;
    background: -webkit-linear-gradient(300deg, var(--blue), var(--pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type="text"] {
    grid-column: 10 / 12;
    -webkit-appearance: none;
    height: 100%;
    padding: 1em;
    color: var(--white);
    background-color: var(--darkBlue);
    border-radius: 0.8em;
    outline: none;
    border: none;
}

input[type="text"]::placeholder {
    font-size: 0.9rem;
}

input[type="text"]:focus {
    grid-column: 4 / 12;
    font-size: 0.9em;
    box-shadow: 0 0 1em var(--white);
    transition: box-shadow 0.3s ease;
}

.сurrency {
    grid-column: 12 / 13;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--darkBlue);
    border-radius: 0.6em;
}

.euro-icon {
    fill: var(--nightBlue);
}


/* БАЛАНС */

.balance {
    grid-area: 2 / 1 / 5 / 4;
    background-color: var(--darkBlue);
    border-radius: 1rem;
}

/* Общее для первой строки блоков */

.value {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0.1em;
}

.value-header {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    font-size: 1.2em;
}

.cash {
    grid-column: 2 / 9;
    grid-row: 5 / 7;
}

.cash {
    font-size: 1.55em;
}

.stocks-icon-up {
    height: 50px;
    width: 46px;
    fill: var(--blue);
    grid-column: 10 / 12;
    grid-row: 4 / 7;
}

.stocks-icon-down {
    height: 50px;
    width: 46px;
    fill: var(--pink);
    grid-column: 10 / 12;
    grid-row: 4 / 7;
}

.val-desc {
    font-size: 0.8em;
    grid-column: 2 / 9;
    grid-row: 7 / 8;
}

.val-hr {
    grid-row: 8;
    grid-column: 2 / 12;
    width: 100%;
    opacity: 0.3;
}

.val-diff {
    font-size: 0.8em;
    grid-column: 10 / 12;
    justify-self: center;
    grid-row: 7 / 8;
}

.cash-diff {
    grid-row: 9 / 12;
    grid-column: 2 / 12;
    font-size: 0.9em;
    align-self: start;
}


/* Сэкономлено */

.saved {
    grid-column: 4 / 7;
    grid-row: 2 / 5;
    background-color: var(--darkBlue);
    border-radius: 1rem;
}

/* КРЕДИТ */

.loan {
    grid-column: 7 / 10;
    grid-row: 2 / 5;
    background-color: var(--darkBlue);
    border-radius: 1rem;
}

/* АККАУНТ */

.account {
    grid-column: 10 / 13;
    grid-row: 2 / 6;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-wrapper {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 2fr repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.profile-image {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(45deg, #E065FFAA 20%, var(--blue) 30%, transparent 60%, #E065FFAA);
    box-shadow: 0 0 0 transparent;
}

.profile-image:hover {
    box-shadow: 0 0 .8em var(--white);
    transition: box-shadow 0.6s ease-in;
}

.profile-image > img {
    position: absolute;
    width: 100px;
    height: 150px;
    top: -50%;
    left: -15%;
    object-fit: cover;
}

.profile-username {
    grid-area: 2 / 2 / 3 / 3;
}

.profile-greeting {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 0.9em;
}

.profile-date {
    grid-area: 4 / 2 / 5 / 3;
}


/* МЕСЯЧНЫЙ ПЛАН РАСХОДОВ */

.spending-plan {
    grid-area: 5 / 1 / 9 / 4;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.spending-header {
    grid-area: 2 / 2 / 4 / 12;
    font-size: 1.2em;
}


.progress-circle {
    position: relative;
    grid-area: 4 / 2 / 8 / 5;
    width: 75px;
    height: 75px;
}

.circle {
    z-index: 2;
    stroke-dasharray: 220; /* 2 x PI x r == 2 * 3,1415 * 35  */
    stroke-dashoffset: 46;
    transform: rotate(-90deg);
    stroke-linecap: round;
    animation: fill 3s ease-in 0s 1;
}

@keyframes fill {
    0% {
        stroke-dashoffset: 220;
    }

    100% {
        stroke-dashoffset: 46;
    }
}


.number {
    position: absolute;
    top: 52%;
    left: 50%;
}

.bg-circle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    stroke-dasharray: 220; /* 2 x PI x r == 2 * 3,1415 * 35  */
    stroke-dashoffset: 0;
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke: var(--nightBlue);
}

.spending-left {
    grid-area:  5 / 7 / 6 / 12;
}

.spending-days-left {
    grid-area: 6 / 7 / 8 / 12;
    align-self: center;
}

.spending-hr {
    grid-area:  9 / 2 / 9 / 12;
    width: 100%;
    opacity: 0.2;
}

.spendig-subhead {
    grid-area: 10 / 2 / 11 / 6;
}

.spending-date {
    grid-area: 11 / 2 / 12 / 6;
    font-size: 0.8em;
}

.spending-money-left {
    font-size: 1.2em;
    grid-area: 10 / 7 / 12 / 12;
    align-self: center;
}

/* ДОХОДЫ */

.revenue {
    grid-area: 5 / 4 / 9 / 10;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    display: flex;
    padding: 1em 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* графики */
.chart-header {
    width: 96%;
    height: 15%;
    font-size: 1.2em;
    text-align: start;
    color: var(--white);
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80%;
    width: 96%;
}


/* ПЕРЕВОДЫ */

.transfers {
    grid-area: 6 / 10 / 9 / 13;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transfers-header {
    width: 92%;
    font-size: 1.2em;
    margin: 4% 0 3%;
}

.transfers-content {
    width: 92%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.transfers-action {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transfers-action:hover {
    background: linear-gradient(45deg, #E065FFAA 20%, var(--blue) 30%, transparent 60%, #E065FFAA);
    border-radius: 0.4em;
    transform: scale(1.02);
}

.transfers-action p {
    width: 15%;
    text-align: start;
}

.svg-arrow-right {
    fill: var(--pink);
    background-color: var(--nightBlue);
    border-radius: 0.2em;
}

.svg-arrow-left {
    transform: rotate(180deg);
    fill: var(--blue);
    background-color: var(--nightBlue);
    border-radius: 0.2em;
}

/* ТРАНЗАКЦИИ */

.transactions {
    grid-area: 9 / 1 / 13 / 6;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactions-title {
    width: 92%;
    font-size: 1.2em;
    margin: 4% 0 3%;
}

.transactions-content {
    width: 92%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.transactions-action {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.transactions-action:hover {
    border-radius: 0.7em;
    padding: 0 2%;
    background: linear-gradient(45deg, #E065FFAA 20%, var(--blue) 30%, transparent 60%, #E065FFAA);
    transform: scale(1.02);
}

.action-date {
    font-size: 0.7em;
    width: 50%;
    text-align: center;
}


.transaction-icon {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nightBlue);
    border-radius: 0.75em;
}

.transaction-name {
    width: 20%;
}

/* РАСХОДЫ */
.expenses {
    grid-area: 9 / 6 / 13 / 10;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    padding: 1rem;;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ЦЕЛИ */
.goals {
    grid-area: 9 / 10 / 13 / 13;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goals-title {
    width: 92%;
    font-size: 1.2em;
    margin: 4% 0 3%;
}

.goals-content {
    width: 92%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.goals-action {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goal-icon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nightBlue);
    border-radius: 0.65em;
}

.svg-plane {
    transform: rotate(30deg);
}

.goal-desc {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goal-content {
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.goal-prog {
    background-color: var(--nightBlue);
    height: 18%;
    border-radius: 0.5em;
    position: relative;
}

.trip-target::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(45deg, var(--pink), var(--blue));
}

.pc-target::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(45deg, var(--pink), var(--blue));
}

.edu-target::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 77%;
    height: 100%;
    background: linear-gradient(45deg, var(--pink), var(--blue));
}

.goal-total {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: end;
    margin-top: 10%;
}

.total-target::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(45deg, var(--pink), var(--blue));
}